* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 40);
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.location-search-input,
.measurement-unit-selector,
.search-button {
  color: rgb(255, 255, 255);
  background-color: rgb(60, 60, 60);
  border: transparent;
  border-radius: 5px;
}

.location-search-input,
.measurement-unit-selector {
  font-family: inherit;
  padding: 10px 20px;
}

.measurement-unit-selector,
.search-button {
  cursor: pointer;
}

.search-button {
  padding: 10px;
}

/* Main Styling */
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.current-weather-container,
.forecast-container {
  display: grid;
  gap: 10px;
  padding: 20px;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 5px;
}

.current-weather-dashboard,
.forecast-dashboard {
  background-color: rgb(50, 50, 50);
  display: grid;
  gap: 20px;
  padding: 20px;
  border: transparent;
  border-radius: 5px;
}

.current-weather-dashboard {
  grid-template-columns: 2fr 3fr;
}

.forecast-dashboard {
  grid-template-columns: repeat(7, 1fr);
}

.current-weather-card,
.forecast-card {
  background-color: rgb(60, 60, 60);
  padding: 20px;
  border: transparent;
  border-radius: 5px;
}

.current-weather-card {
  line-height: 1.5;
}

.day-month-year,
.location,
.temperature,
.conditions,
.humidity,
.wind-speed,
.date-time,
.sunrise,
.sunset,
.timezone,
.description {
  font-weight: normal;
}

.weather-icon {
  width: 200px;
}
