/* CSS VARIABLES */
:root {
  --primary-color: #f0f9ff;
  --secondary-color: #7dd3fc;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* BASELINE*/
.wrapper {
  display: grid;
  min-height: 100dvh;
  font-family: "Syne", sans-serif;
  background-image: linear-gradient(
    var(--primary-color),
    var(--secondary-color)
  );
}

.location-search-input,
.measurement-unit-selector,
.search-button {
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.location-search-input,
.measurement-unit-selector {
  font-family: inherit;
}

.weather-icon {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.fa-regular,
.fa-solid {
  margin-right: 5px;
}

.fa-solid.fa-magnifying-glass {
  margin: initial;
}

/* HEADER */
.header {
  margin: 20px 45px;
}

.app-name {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 5px;
  background-color: var(--secondary-color);
}

span {
  font-weight: bold;
}

.location-search-form {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding: 10px;
}

.location-search-input {
  grid-column: 1/6;
}

.measurement-unit-selector {
  grid-column: 6/10;
}

.search-button {
  grid-column: 10/11;
}

/* LOADER */
.loader-container {
  display: none;
  place-items: center;
  gap: 10px;
  padding: 30px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color);
}

.loader-description {
  width: 100%;
  padding: 0 60px;
  text-align: center;
}

.loader-animation {
  height: 30px;
  width: 30px;
  border: 3px solid var(--primary-color);
  border-top: 3px dotted black;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

/* MAIN */
.main {
  display: grid;
  gap: 40px;
}

.current-weather-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.current-weather-dashboard {
  display: grid;
  gap: 20px;
}

.current-weather-title {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.day-month-year,
.location {
  font-size: 1rem;
  text-align: center;
}

.current-weather.main-info {
  display: grid;
  place-items: center;
  gap: 20px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.weather-icon {
  width: 50%;
}

.conditions,
.temperature {
  font-size: 1rem;
}

.description {
  padding: 10px 20px;
  text-align: center;
}

.weather-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  padding: 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color);
}

.weather-detail-card {
  place-self: center;
  text-align: center;
}

.hourly-forecast-title,
.daily-forecast-title {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.hourly-forecast-dashboard,
.daily-forecast-dashboard {
  display: grid;
  gap: 10px;
  padding: 15px;
}

.hourly-forecast-dashboard {
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.daily-forecast-dashboard {
  grid-template-columns: 1fr;
}

.hourly-forecast-card,
.daily-forecast-card {
  padding: 15px;
  border: 1px dashed #000;
  border-radius: 10px;
  line-height: 1.7;
}

/* ANIMATION */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
